bleach
html5lib
markdown
protobuf
#tensorflow
werkzeug
bzip2
ca-certificates
cairo
certifi
cffi
decorator
ffmpeg
fontconfig
freetype
glib
graphite2
harfbuzz
hdf5
icu
intel-openmp
ipython
ipython_genutils
jasper
jedi
jpeg
libedit
libffi
libgcc-ng
libgfortran-ng
libopus
libpng
libprotobuf
libstdcxx-ng
libtiff
libvpx
libxcb
libxml2
mkl
ncurses
numpy
olefile
openssl
parso
pcre
pexpect
pickleshare
pillow
pixman
prompt_toolkit
ptyprocess
pycparser
pygments
readline
setuptools
simplegeneric
six
sqlite
tk
traitlets
wcwidth
wheel
xz
zlib
#opencv3=3.1.0=py35_0
#cuda80=1.0=h205658b_0
#pytorch=0.4.1=py35_cuda8.0.61_cudnn7.1.2_1
torchvision
absl-py
atari-py
azure
azure-common
azure-mgmt
azure-mgmt-common
azure-mgmt-compute
azure-mgmt-network
azure-mgmt-nspkg
azure-mgmt-resource
azure-mgmt-storage
azure-nspkg
azure-servicebus
azure-servicemanagement-legacy
azure-storage
better-exceptions
chardet
click
cloudpickle
cycler
dill
enum34
future
futures
git+https://github.com/hyperopt/hyperopt.git
idna
joblib
matplotlib
mpi4py
pandas
progressbar2
pybullet
pyglet
pyopengl
pyparsing
pytest
pytest-cov
python-dateutil
python-utils
pytz
pyyaml
pyzmq
requests
seaborn
scikit-learn
scipy
stable-baselines
termcolor
torchfile
tornado
tqdm
urllib3
visdom
zmq
cma
h5py
Box2D
SAC
