bleach
html5lib
markdown
protobuf
werkzeug
certifi
cffi
decorator
ffmpeg
ipython
ipython_genutils
jasper
jedi
numpy
olefile
parso
pexpect
pickleshare
pillow
prompt_toolkit
ptyprocess
pycparser
pygments
readline
setuptools
simplegeneric
six
traitlets
wcwidth
wheel
absl-py
atari-py
better-exceptions
chardet
click
cloudpickle
cycler
dill
enum34
future
futures
git+https://github.com/hyperopt/hyperopt.git
idna
joblib
matplotlib
mpi4py
pandas
progressbar2
pybullet
pyglet
pyopengl
pyparsing
pytest
pytest-cov
python-dateutil
python-utils
pytz
pyyaml
pyzmq
requests
seaborn
scikit-learn
scipy
termcolor
torchfile
tornado
tqdm
urllib3
visdom
zmq
cma
h5py
Box2D
stable-baselines
